<div class="c1">
  <div  class="card m-5" style="max-width: 540px;">
    <div class="row g-0">
        <div  class="col-md-4">
            <img [src]="produit.photo" class="card-img-top p-2" alt="..." height="250px" width="900px">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{produit.libelle}}</h5>
          <ngb-rating [max]="5" [(rate)]="produit.rate" [readonly]="true"></ngb-rating>
                 
          <br>
          <p class="card-text"><span class="c2"> Prix:</span> {{produit.prix| number:'.3'|money}}</p>
          <p class="card-text"><span class="c2"> Couleur:</span> {{produit.color}}</p>
          <p class="card-text"><span class="c2"> Marque:</span> {{produit.brand}}</p>
           <p class="card-text"><span class="c2"> Matériel:</span> {{produit.materiel}}</p>
          <p class="card-text"><span class="c2"> Dimension:</span>{{produit.dimension}}</p>
          <p class="card-text"><span class="c2"> Commentaire:</span>{{produit.commentaire}}</p>
          <form [formGroup]="acessForm">
            <h5>Liste des Commentaires des Clients</h5>
        <div formArrayName="commentaires">
            <div *ngFor="let d of lescommentaires.controls; index as i">
                <strong> Commentaire n° {{i+1}}</strong>
                <div [formGroupName]="i">
                    <label>Votre email  :</label>
                    <input type="email" formControlName="email">
                    <!--<div *ngIf="isemailrequired()" class="alert alert-warning">
                      J'attends un e-mail, mon cher !
                      </div> 
                      <div *ngIf="isemailPattern()" class="alert alert-warning">
                          J'attends un e-mail correcte , mon cher !
                          </div> <br>-->
                    <label>Votre message :</label>
                    <input type="text" formControlName="message"> <br>
                  <!---  <div *ngIf="ismsgrequired()" class="alert alert-warning">
                      J'attends un Commmentaire ou bien un question , mon cher !
                      </div>  <br>-->
                    <input type="button"    value="Enregistrer un Commentaire" class="btn  btn-sm c3" (click)="ajouterAcc()"> 
                    <br>

                </div>
            </div>
        </div>
        <br>
        <input type="button" (click)="ajouterDiplome()" value="Ajouter un Commentaire" class="btn  btn-sm c3" > <br>
          </form>
          {{message}}
          <br>
          <button  type="button" class="btn btn-primary m-5" routerLinkActive="active" routerLink="/produits" class="btnn">Retour</button> 
        </div>
      </div>
    </div>
   
  </div>
</div>

