<section>
    <div style="padding-top: 110px; ">
      <h2>  QUI SOMMES NOUS ?</h2>
    </div>
    <div class="prt1">
      <div class="imgprt1">
        <img src="assets/about.png" alt="about-us" style="width:650px;height: 380px;">
      </div>
      <div class="textpart1">
          <p class="textabout">Chez Eya et Maram , <br>
            nous pensons que tous les animaux méritent la vie. Comme les humains, ils ont besoin d'amour, de soins et ont également besoin d'un foyer. Nous
            avons fondé notre organisation pour leur donner la chance d'avoir un foyer et une famille aimante.
             Chaque année, nous donnons une vie meilleure à des centaines d'animaux sans abri.</p>
          <br>
          <div class="prstg">
              <h6 class="title">Événement</h6>
              <div class="c1">
    
                  <div class="c2" style="width: 25%; height: 100%; background-color: #734a31;   ">
    
                      <span class="c3">25%</span>
                  </div>
              </div>
              <br>
              <h6 class="title">Soins des animaux</h6>
              <div class="c1">
                  <div class="c2" style="width: 75%; height: 100%; background-color: #734a31;   ">
                      <span class="c3">75%</span>
                  </div>
              </div>
              <br>
              <h6 class="title">Animaux à adopter</h6>
              <div class="c1">
                  <div class="c2" style="width: 50%; height: 100%;background-color: #734a31;   ">
                      <span class="c3">50%</span>
                  </div>
              </div>
          </div>
      </div>
    
    </div>
    
    
    <div class="aboutt">
    
      <div class="margiin">
          <div style="padding-top:80px; ">
           <h2>Que faisons-nous ?</h2> 
           </div>
          <p class="paragraphe">
            Chez Eya et Maram , nous croyons que les animaux de compagnie sont des membres de la famille avec qui nous partageons notre quotidien.
            Ils sont là, toujours à nos côtés, inconditionnellement, et nous les aimons comme ils nous aiment.
            Chaque année, des centaines d'animaux tels que des chiens, des chats deviennent sans abri pour de nombreuses raisons. Notre mission : <br>
        
                est de trouver les animaux sans abri à travers le pays et de leur donner une vie meilleure. Comme les humains,
                ils ont besoin d'amour, de soins et ont aussi besoin d'un foyer. Nous avons fondé notre organisation pour leur donner une chance<br>
            
            Vous trouverez ici l'animal de compagnie que vous souhaitez, ainsi que tout ce dont vous avez besoin pour en prendre soin et bien vivre
                avec . <br>
            Nos experts vous apportent leurs conseils pour l'hygiène,
             l'Aliments de vos animaux et  les meilleurs accessoires
            pour prendre soin d'eux.
    
          </p>
      </div>
      <img src="assets/imagedogs.png" class="img-fluid rounded-start" alt="about-us">
    </div>
    
    
    <br>
    <h2 id="evnt"> Nos événements</h2>
    <div class="Events">
      <div class="boxes">
          
          <article class="box1">
              <img class="boximg"  src="assets/addresser.jpg">
              <h2 class="boxtitle">Journée nationale du dressage canin</h2>
              <h3>Ce mouvement a été créé en collaboration avec l'association des dresseurs de chiens
                années
                depuis.
                Profitez de ce mois pour apprendre de nouveaux tours à votre chien.
                C'est l'occasion pour les dresseurs, les experts canins et les propriétaires de chiens de célébrer leur amour pour
                leur
                compagnons.</h3>
              
          </article>
         
    
      </div>
      <div class="boxes">
          
          <article class="box1" style="background-color: #987e71 ;">
              <img class="boximg"  src="assets/evnt2.jpg">
              <h2 class="boxtitle"> Journée nationale des animaux handicapés</h2>
              <h3>Chaque année, le 3 mai, la Journée nationale des animaux de compagnie spécialement handicapés braque les projecteurs sur la
                Besoins d'animaux handicapés.
                La journée met en vedette des animaux handicapés à la recherche d'un foyer.
    </h3>
              
          </article>
    
      </div>
      <div class="boxes">
          
          <article class="box1" style="background-color: #bf8c89 ;">
              <img class="boximg"  src="assets/event3.jpg">
              <h2 class="boxtitle"> La course Woof</h2>
              <h3>La Woof Run : La Woof Run est une journée dédiée aux chiens, sur les rives du lac1.
                Un parcours avec des binômes homme-chien.
                L'après midi, nos partenaires organisent des animations comme le dog dancing L'événement est gratuit pour tous
                spectateurs,
                et chacun peut venir avec son(ses) chien(s)</h3>
              
          </article>
    
      </div>
      <div class="boxes">
         
          <article class="box1" style="background-color: #c1716d ;" >
              <img class="boximg" src="assets/addresser.jpg">
              <h2 class="boxtitle">  Saint valentin des animaux</h2>
              <h3>Pour la Saint-Valentin, les animaux aussi ont droit à un peu d'amour ! Le site E&M 
                revient pour la première édition de sa collection annuelle.
                Vous pourrez offrir du foin ou de la paille, des accessoires ou encore de la nourriture pour les animaux des refuges
                sans frais de port.
    </h3>
              
          </article>
    
      </div>
    </div>
    
    </section>
    
