

<footer>
    <div class="row">
        <div class="col">
            <div class="logo"> <img class="logoimg" src="assets/E&M.png" alt="" width="150px" height="120px">
            </div>
            <p style="padding-top: 20px; padding-bottom: 30px;">vous accompagne au quotidien pour vivre en parfait
                hormony avec votre animal de compagnie. <br>
                Rejoignez la communautépetsy accompagne !
            </p>
        </div> 
        <div class="col">
            <h3>liens 
            </h3>
            <ul>
                <li>
                    <a class="nav-link" routerLinkActive="active" routerLink="/accueil">Accueil</a>
                </li>
                <li>
                    <a class="nav-link" routerLinkActive="active" routerLink="/aboutus">a propos de nous</a>
                </li>
                <li>
                    <a class="nav-link" routerLinkActive="active" routerLink="/adopt">Adoption</a>
                </li>
                <li>
                    <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <h3>Suivez-nous 
            </h3>
            <a href="https://www.facebook.com/maramgnouma"><img class="lg" src="assets/fbBBBBBBBBBBBBBBBBBBBBBBBBBBB.png" alt=""></a> <br>
            <a href="https://www.facebook.com/eyaKassous"><img class="lg" src="assets/innn.png" alt=""></a> <br>
            <a href="https://www.facebook.com/yesmine.zhioua.5"><img class="lg" src="assets/inst22222222222a.png" alt=""></a>
        </div>

        <div class="col">
            <h3>Contactez-nous 
            </h3>
            <table>
                <tr>
                    <td> <img class="lg" src="assets/telephoneee.png" alt=""></td>
                    <td>
                        <p style="font-size: 15px;">+125 55443322</p>
                    </td>
                </tr>
                <tr>
                    <td> <img class="lg" src="assets/mailll.png" alt=""></td>
                    <td>
                        <p class="email-id"> E&mforpets@gmail.com</p>
                    </td>
                </tr>
            </table>
          
                    <div class="x">
                      <div style="text-align:center;padding:1em 0;"> <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=fr&size=large&timezone=Africa%2FTunis" width="100%" height="140" frameborder="0" seamless></iframe> </div>
                     
                   </div>
                 
            
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row" style="display: flex;
        justify-content: center;"> <p class="cop">Copyright©-All rights Reserved </p>

          
           
        </div>
       
    </div>

</footer>

