
<div  style="margin-top: 120px;">
    <img src="assets/erreur/anim.webp" height="300px" width="300px" style="margin-left: 550px;"/>

  
   <div>
    <h1 style="margin-left: 500px;">Cette page n'exite pas</h1>
    <h3 style="margin-left: 300px;">La page à laquelle vous essayez d'accéder n'existe pas ou a été déplacer.
        <br>
       <span style="margin-left: 100px;"> Essayer de retourner sur notre page d'accueil </span>
    </h3>
    <button type="button"  routerLinkActive="active"
          routerLink="/accueil" style="margin-left: 700px;border-radius: 20%;background-color: rgb(204, 179, 146);width: 100px;">Accueil</button>
    <p style="margin-left: 400px;">
        Si vous pensez qu'il s'agit d'une erreur ,veuillez contacter notre équipe s'assistance sur
        <br>
        <a href="#" class="text-link">support@gmail.com</a>
    </p>
</div>
</div>
<br> <br>
